html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --brightorange: hsl(31, 77%, 52%);
  --darkcyan: hsl(184, 100%, 22%);
  --verydarkcyan: hsl(179, 100%, 13%);
  --transparentwhite: hsla(0, 0%, 100%, 0.75);
  --verylightgray: hsl(0, 0%, 95%);
}

body {
  background-color: url(--verylightgray);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5.2rem 2rem;
}
@media (min-width: 1440px) {
  .flex {
    margin: 0 15rem;
    height: 100vh;
  }
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.7em;
  margin-bottom: 50px;
}

@media (min-width: 1440px) {
  .card {
    display: flex;
    flex-direction: row;
  }
}

#card1 {
  background-color: var(--brightorange);
}

#card2 {
  background-color: var(--darkcyan);
}

#card3 {
  background-color: var(--verydarkcyan);
}

.card-body-image {
  background-repeat: no-repeat;
  height: 40px;
  width: auto;
  margin: 3rem 3rem 2.5rem 3rem;
}

.card1-img {
  background-image: url("../images/icon-sedans.svg");
}
.card2-img {
  background-image: url("../images/icon-suvs.svg");
}
.card3-img {
  background-image: url("../images/icon-luxury.svg");
}

.card-body-title {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  color: var(--verylightgray);
  margin: 0 3rem 2.5rem 3rem;
}

.card-body-text {
  color: var(--transparentwhite);
  font-weight: 400;
  margin: 0 3rem 2.5rem 3rem;
}

.card-body-buttom button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--verylightgray);
  border-radius: 30px;
  border: none;

  width: 35%;
  height: 47px;
  margin: 0 3rem 3rem 3rem;
}
.card-body-buttom button:hover {
  background-color: var(--transparentwhite);
}

#buttom1 {
  color: var(--brightorange);
}
#buttom2 {
  color: var(--darkcyan);
}
#buttom3 {
  color: var(--verydarkcyan);
}
